<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Griffin Wagner</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel='stylesheet' href='https://s3-us-west-2.amazonaws.com/s.cdpn.io/8005/font-awesome_1.css'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="/assets/pizza.css">
      <link rel="stylesheet" href="/assets/home.css">
      <link rel="stylesheet" href="/assets/cards.css">
      <link rel="stylesheet" href="/assets/images.css">




</head>

<body>



  <header id="masthead" role="banner" class="masthead is-nav-fixed is-nav-inline">
  <div class="container">
    <div class="masthead-container masthead-container--flex">
      <nav id="masthead-nav" role="navigation" class="masthead-nav">
        <ul class="nav-bar js-nav-bar show">
          <li class="nav-bar__item has-no-flex"><a href="#"><span class="ir site-logo">Griffin Wagner</span></a></li>
          <li class="nav-bar__item active has-no-flex"><a href="#">Home</a></li>
          <li class="nav-bar__item"><a href="/resume">See My Resume</a></li>
          <li class="nav-bar__item"><a href="/activities">Activities</a></li>
          <li class="nav-bar__item"><a href="/research">My Research</a></li>
          <!-- <li class="nav-bar__item"><a href="#">Hobbies</a></li>
          <li class="nav-bar__item"><a href="#">2018 In Review</a></li> -->
          <li class="nav-bar__item"><a href="/contact">Contact Me</a></li>

        </ul>

      </nav>
    </div>
  </div>
</header>

<section>

  <div class="scroll-container">
    <i class="fas fa-chevron-down"></i>

    <div class="scroll-area bg-1" id="divone">
      <img id="headShot" src="/photos/headnobg.png" alt="Me!"> </img>

      <div class="name" style="line-height:1.4">
        Griffin Wagner <br>
        <div class="info">
          <br><br>Grimiwa314@gmail.com <br> <br>
          (772) 539 1311 <br>
        </div>

      </div>



    </div>

<!--  ======================================-->
    <div class="scroll-area bg-2" id="divtwo">
      <section id="posts" class="clearfix">
        <figure class="post">
          <img src="/photos/Exhibit-Hall-overhead.jpg"/>
          <figcaption>
            <h2 class="colorBlack">Science and Engineering Fair</h2>
            <p class="colorBlack">Through Science Fair, I have researched blue-green algae blooms in the Indian River Lagoon and built the first algorithm to predict the occurence of a blue-green algae bloom. <br><br> My research has led to 6 State Awards and <b>4th Place at the International Fair </b></p>
          </figcaption>
          <a href="/activities#divtwo" title="Read more">Read more</a>
        </figure>
        <figure class="post">
          <img src="/photos/IMG_7974.JPG"/>
          <figcaption>
            <h2 class="colorBlack">Volunteering Efforts</h2>
            <p class="colorBlack">I have spent over 120 hours volunteering at local elementary and middle schools teaching English and math games for students at the national level. <br> <br> In addition, I have worked with conservation efforts on local land impoundments. My volunteering work has helped both the community and environment of Vero Beach.</p>
          </figcaption>
          <a href="activities#divfour" title="Read more">Read more</a>
        </figure>
        <figure class="post">
          <img src="/photos/23537.jpg"/>
          <figcaption>
            <h2 class="colorBlack">16th Street Tribune</h2>
            <p class="colorBlack">The 16th Street Tibune is a local newspaper for Vero Beach Florida and, as the Lead Developer, I have built the 16th Street Tribune's website which has whitnessed over 700 users, a customer retention rate of 21.2%, and an incredibly strong engagement. <br><br>While the online newspaper is local, through my marketing efforts, the 16th Street Tribune has expanded internationally with 16% of visits coming from foriegn countries.  </p>
          </figcaption>
          <a href="/activities#divthree" title="Read more">Read more</a>
        </figure>
      </section>

    </div>

    <!-- ================================================= -->
    <div class="scroll-area bg-3" id="divthree">

      <!-- <svg class="goo-filter" viewBox="0 0 1 1">
          <filter id="goo">
            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 50 -20" result="goo" />
          </filter>
        </svg> -->

        <main id="app">

          <section class="backgrounds sectioncards">
            <div
                 class="background"
                 style="--primary: var(--pink); --secondary: var(--orange)">
            </div>
            <div
                 class="background"
                 data-active="true" style="--primary: var(--purple); --secondary: var(--pink)">
            </div>
            <div
                 class="background"
                 style="--primary: var(--green); --secondary: var(--cyan)">
            </div>
            <div
                 class="background"
                 style="--primary: var(--blue); --secondary: var(--purple)">
            </div>
          </section>

          <section class="content sectioncards">
            <article class="articlecards">
              <header>
                <h1 class="cardsH1">My Work</h1>
              </header>
              <p class="cardsp">Junior Scientist Fellow at Harbor Branch: Research was conducted with Harbor Branch’s scientists on the health of mosquito impoundments in the Indian River Lagoon <br><br>Lead Developer 16th Street Tribune 2018: As the lead developer of a local online newspaper, The 16th Street Tribune, the online website has seen a growth to over 700 users in two months <br><br>Osceola Magnet School Academic Games Coach: Since 2016, I have trained elementary school students in the games of Equations and LinguiSHTIKs allowing them to compete on an international level.</p>
            </article>
            <article data-active="true" class="articlecards">
              <header>
                <h1 class="cardsH1">A Little Bit About Me</h1>
              </header>
              <p class="cardsp">From the University of Florida and Bioutility, I received the BACE Bio-Technician Certification. <br><br>I have also been certified in Node.JS development by Code Skoolz and I've received a certificate from Stanford University in the field of Machine Learning. <br><br>Select Panels To See My Different Skills in Biotechnology and Computer Science </p> <img class="panelPic"src="/photos/IMG_5963.jpg" alt="">
            </article>
            <article data-id="3" class="articlecards">
              <header>
                <h1 class="cardsH1">Computer Science</h1>
              </header>
              <p class="cardsp">Web Design With Node.JS and Express. <br><br> Basic ML Algorithms: SVMS, Logistic Regression, Anomaly Detection, K-Means, and More in Octave<br><br> Swift and Xcode with Cocoa/Touch Framework <br><br>Web Technologies Including JQuery, Bootstrap, JSON, Ajax, and APIs <br><br> Introductory Knowledge in Python, Java, and SQL</p> <img  class="panelPic" src="/photos/Coding-Css-Programming-Software-Development-1853305.jpg" alt="">
            </article>
            <article data-id="4" class="articlecards">
              <header>
                <h1 class="cardsH1">Biotechnology</h1>
              </header>
              <p class="cardsp">Laboratory Certification by Bioutility and University of Florida. <br><br>Trained in basic lab skills including pipetting, bacterial growth, and safe lab practices.<br><br>Trained in intermediary lab skills including gel electrophoresis, SDS-PAGE, Western Blotting, and ELISA. <br><br> 1 year of research with Harbor Branch Oceanographic Institute with intentions of continuing.</p> <img class="panelPic" src="/photos/Griffin-Wagner.jpg" alt="">
            </article>
          </section>
        </main>


<!-- ================================== -->


    </div>
    <div class="scroll-area bg-4" id="divfour">
      <div class="number4">

        <div class="row">
          <div class="images">
            <img class="image image4" id="imageSize" src="/photos/My-Favorite-Hobby.jpg">
          </div>
          <div class="images">
            <img class="image image4" id="imageSize" src="/photos/hanging.JPG">
            <a class="img-info aphoto" href="">Hanging Out With Friends</a>
          </div>
          <div class="images">
            <img class="image image4"  id="imageSize" src="/photos/IMG_8563-2.JPG">
            <a class="img-info aphoto" href="">Kayaking In the Indian River Lagoon</a>
          </div>
          <div class="images" id="imageSize">
            <img class="image image4" src="/photos/agata.jpg">
            <a class="img-info aphoto" href=""> Exploring Nature With New Faces</a>
          </div>
        </div>

        <div class="row">
          <div class="images">
            <img class="image image4" id="imageSize" src="/photos/mom.JPG">
            <a class="img-info aphoto" href="">Travelling With Family</a>
          </div>
          <div class="images">
            <img class="image image4"id="imageSize"  src="/photos/march.JPG">
            <a class="img-info aphoto" href="">Marching With the Band</a>
          </div>
          <div class="images">
            <img class="image image4"id="imageSize" src="/photos/gm.jpg">
            <a class="img-info aphoto" href="">Fun In the Water</a>
          </div>
          <div class="images">
            <img class="image image4" id="imageSize" src="/photos/escape.JPG">
            <a class="img-info aphoto" href="">Escaping the Unescapable</a>
          </div>
        </div>

      </div>


    </div>
  </div>
</section>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>



    <script  src="/assets/homejs.js"></script>
    <script  src="/assets/cards.js"></script>
    <script  src="/assets/images.js"></script>
    <script type="text/javascript" src="/assets/goToMobile.js"></script>


    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
  <script src='https://mfzy.co/isotope.pkgd.js'></script>
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/masonry/4.1.0/masonry.pkgd.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.0/imagesloaded.pkgd.min.js'></script>

  <script src='https://imagesloaded.desandro.com/imagesloaded.pkgd.js'></script>




</body>

</html>
