<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Mobile Is Not Available Yet</title>



      <link rel="stylesheet" href="assets/mobile.css">


</head>



<body>



  ﻿<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>CSS Mobile|Splash</title>
	<meta name="description" content="Splash Screen for CSS Mobile.">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="css/splash_style.css">

</head>

<body class="demo">

<div id="demo-content">

		<div id="loader-wrapper">
			<div id="loader"></div>

			<div class="loader-section section-left"></div>

			<div class="loader-section section-right"></div>

		</div>

	</div>
  <div class="writing">
    <p class="writing" style="z-index:10000000; position:relative; text-align:center; margin: 20vh auto; max-width:300px">    My mobile site is not yet available on devices smaller than an iPad Pro. Please go to GriffinWagner.com on a computer.</p>
  </div>

	<!-- /Import JS  -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
  <script src="js/RightNow_Client.js"></script>

	<script type="text/javascript">

			$(document).ready(function () {
					setInterval(function () {
           // window.open( "https://hiteshsahu.com");
					}, 2000);
			});
	</script>

</body>
</html>



</body>

</html>
