@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
/** Variables **/
/** Settings **/
.number4 {
  box-sizing: border-box;
}

.number4 {
  background-color: rgb(51,51,51);
  height:100vh;
  margin: 0;
  padding: 0 3vw;
  /*  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
  transition: 0.35s ease-in-out;
  font-family: "Open Sans", Sans-Serif, Tahoma, Arial;
}

.aphoto {
  text-decoration: none;
  object-fit: fill !important;
}
.aphoto:focus,
.aphoto .aphoto:visited {
  text-decoration: none;
}
.aphoto:hover {
  text-decoration: none;
}

.row {
  margin: 75px auto 0;
  padding: 0;
}

.images {
  width: 100%;
  max-width: 25%;
  height: auto;
  padding: 0;
  box-sizing: border-box;
  float: left;
  position: relative;
  z-index: 5;
  transition: ease-in-out;
  transition-duration: 0.25s;
  transition-delay: 0s;
  overflow: hidden;
  border: 0.5vw solid #1a1a1a;
  background-color: #1a1a1a;
}
@media screen and (max-width: 767px) {
  .images {
    max-width: 50%;
  }
}
.images .aphoto {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: -50px;
  left: 0;
  margin: 0;
  padding: 5px 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333333;
  transition: inherit;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.images:hover {
  z-index: 99;
  transform: scale(1.2);
  border-color: #ffffff;
}
.images:hover .aphoto {
  bottom: 20px;
  opacity: 1;
  visibility: visible;
  z-index: 100;
}
.images .image4.image {
  max-width: 100%;
  width: 100%;
  float: left;
  transition: opacity 3.5s ease-in-out;
}

.image4 {
  object-fit: fill;
}

#imageSize{
  width:22.5vw;
  height:100%;
}
